.App {
  max-width: 680px;
  margin: 30px auto;
}

.App .Weather {
  background-color: #f5f5f5;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

.App footer a {
  color: #a2a8d3;
}
